@import '../components/shortyBar';
@import '../components/shortyList';
@import '../components/LabelToInput';

.container {
  margin: auto;
  position: relative;
  padding: $pentaSpace;
  box-sizing: border-box;

  .content {
    margin: 0;
    width: 100%;
    max-width: 1090px;
  }
}
