@import '../components/shortyBar';
@import '../components/shortyList';
@import '../components/LabelToInput';

.container {
  margin: auto;
  width: 90%;
  position: relative;
  margin-bottom: $space * 15 !important;
  .content {
    margin: auto;
    max-width: 1090px;
  }
}
