@import 'components/logo';
@import 'components/backToHome';
@import 'components/detailTopInfo';

.container {
  margin: auto;
  .content {
    max-width: 1090px;
    padding-bottom: $pentaSpace;
  }
}
