@import 'components/logo';
@import 'components/backToHome';
@import 'components/detailTopInfo';

.container {
  margin: auto;
  width: 90%;
  .content {
    margin: auto;
    max-width: 1090px;
  }
}
