@import 'components/editableLabel';
@import 'components/apiKeyList';
@import 'components/editors';
@import 'components/userList';

.settings {
  .personal-informations {
    max-width: 1090px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  .item {
    width: 27%;
    margin-right: 1%;
    &.item-last {
      margin-right: 0;
      width: 16%;
      text-align: right;
    }
    button {
      text-align: right;
      padding: 0;
      &.editPassword {
        width: 90%;
        text-align: center;
        padding: $space;
        font-weight: $bold;
        border-radius: $radiusSmall;
        background: $primary !important;
        color: $white !important;
        padding: $space $doubleSpace $space $doubleSpace;
        border: none;
      }
    }
  }
}
