body {
  font-family: 'Fira Sans Condensed', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  color: $dark;
  font-size: 12px;
  background-color: $background;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: $blue;
    text-decoration: none;
  }
}
