/* COLORS */
.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.white {
  color: $white;
}
.dark {
  color: $dark;
}
.grey {
  color: $grey;
}

.light {
  &Primary {
    color: $lightPrimary;
  }
  &Secondary {
    color: $lightSecondary;
  }
  &Dark {
    color: $lightDark;
  }
  &Grey {
    color: $lightGrey;
  }
}

/* Alignments */
.t {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

/* TEXT SIZE */
/* 10px */
.micro {
  font-size: $micro;
}
/* 12px */
.mini {
  font-size: $mini;
}
/* 14px */
.tiny {
  font-size: $tiny;
}
/* 16px */
.normal {
  font-size: $normal;
}
/* 18px */
.medium {
  font-size: $medium;
}
/* 20px */
.large {
  font-size: $large;
}
/* 22px */
.big {
  font-size: $big;
}

/* FONT WEIGHT */
.regular {
  font-weight: $regular;
}
.light {
  font-weight: $light;
}
.bold {
  font-weight: $bold;
}
.italic {
  font-style: italic;
}

/* MARGIN */
.m {
  &-top {
    margin-top: $space !important;
    &-x2 {
      margin-top: $space * 2 !important;
    }
    &-x3 {
      margin-top: $space * 3 !important;
    }
    &-x4 {
      margin-top: $space * 4 !important;
    }
  }
  &-bottom {
    margin-bottom: $space !important;
    &-x2 {
      margin-bottom: $space * 2 !important;
    }
    &-x3 {
      margin-bottom: $space * 3 !important;
    }
    &-x4 {
      margin-bottom: $space * 4 !important;
    }
    &-x5 {
      margin-bottom: $space * 5 !important;
    }
    &-x6 {
      margin-bottom: $space * 6 !important;
    }
    &-x7 {
      margin-bottom: $space * 7 !important;
    }
    &-x8 {
      margin-bottom: $space * 8 !important;
    }
    &-x9 {
      margin-bottom: $space * 9 !important;
    }
    &-x10 {
      margin-bottom: $space * 10 !important;
    }
  }
  &-left {
    margin-left: $space !important;
    &-x2 {
      margin-left: $space * 2 !important;
    }
    &-x3 {
      margin-left: $space * 3 !important;
    }
    &-x4 {
      margin-left: $space * 4 !important;
    }
  }
  &-right {
    margin-right: $space !important;
    &-x2 {
      margin-right: $space * 2 !important;
    }
    &-x3 {
      margin-right: $space * 3 !important;
    }
    &-x4 {
      margin-right: $space * 4 !important;
    }
  }
}

/* FLEX */
.flex {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
  &-space {
    justify-content: space-between;
  }
}
