#loginBox {
  .invitation {
    font-size: $medium;
    margin-top: $tripleSpace * 4;
    font-style: italic;
    font-weight: $light;
  }
  .loginBox-form {
    max-width: 70%;
    margin: auto;
    input {
      margin-top: $tripleSpace;
      width: 100%;
      height: 56px;
      border-radius: $radius;
      background: $white;
      border: 1px solid $lightGrey;
      box-shadow: 0px 14px 21px rgba(0, 0, 0, 0.14);
      font-size: $large;
      padding: $tripleSpace;
      box-sizing: border-box;
      color: $dark;
      &::placeholder {
        color: $grey !important;
      }
      &:focus {
        outline: none !important;
        border: 1px solid $primary;
      }
    }
    button {
      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
      margin-top: $tripleSpace;
      color: $white;
      padding: $doubleSpace;
      padding-left: $tripleSpace;
      padding-right: $tripleSpace;
      border-radius: $radiusSmall;
      font-weight: bold;
      font-size: $medium;
      border: $lightSecondary;
      background: $secondary;
      box-shadow: 0px 14px 21px rgba(0, 0, 0, 0.14);
      cursor: pointer;
      &:hover:not(:disabled) {
        background: $hoverSecondary;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  #loginBox {
    form {
      max-width: 60%;
    }
  }
}
@media screen and (max-width: 768px) {
  #loginBox {
    form {
      max-width: 100%;
    }
  }
}
