#profileBox {
  margin: auto;
  max-width: 1090px;
  position: relative;
  height: 90px;
  margin-bottom: -90px;
  .profileItem {
    min-width: 200px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: $tiny;
    a {
      &:hover {
        color: $primary;
      }
    }
    button {
      border: none;
      padding: 0;
      &:hover {
        color: $primary;
      }
    }
  }
}
