.toast {
  &.toast-wrapper {
    display: block;
    position: absolute;
    right: $tripleSpace * 5;
    bottom: 2px;
    width: 250px;
    height: 125px;
    color: black;
    z-index: 1000;
    font-size: $medium;
    color: $white;
    padding: $tripleSpace;
    .fa-times {
      position: absolute;
      right: $tripleSpace;
    }
    &.hidden {
      display: none;
    }
    &.toast--info {
      background-color: $primary;
    }
    &.toast--success {
      background-color: $green;
    }
    &.toast--warning {
      background-color: $secondary;
    }
    &.toast--error {
      background-color: $red;
    }
  }
}
